<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About us</title>
  </head>
  <body>
    <h1>A simple About Us</h1>
    <p>There ain't much</p>
    <a href="/">Main Page</a>
  </body>
</html>
